*{
    padding: 0;
    margin: 0;
}
#homepage{
    position: fixed;
    background-image: url("../gallery/home.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    -webkit-user-select: none;
}
#homepage_maincontainer{
    position: fixed;
    top: 30%;
    left: 35%;
    width: 30%;
    height: 40%;
    background-color: rgba(149, 188, 255,0.2);
    transition: transform 3s ;
    text-align: center;
    /* border-top-left-radius: 50%;
    border-bottom-right-radius: 50%; */
    border-radius: 20%;

}
#homepage_maincontainer:hover, #homepage_maincontainer:active{
    transform: scale(2);
    background-color: rgba(149, 188, 255,0.6);
}

#playEasyBtn, #playHardBtn{
    cursor: pointer;
}
#form{
    margin-top: 100px;
    margin-left: 155px;
    display: -webkit-box;
}
#username{
    border-color: rgb(173, 78, 0);
    border-radius: 10px;
    width: 150px;
    height: 50px;
    color: white;
    background-color: transparent;
    font-family: "Comic Sans MS", cursive, sans-serif;
    outline: none;
    text-indent: 20px;
}
/* #usericon{
    margin-right: 5px;
    color:rgb(144,207,90);
} */
#playbtns{
    margin-top: 20px;
}
.volume{
    position: absolute;
    left: 90%;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.exit{
    position: absolute;
    left: 2%;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
#exit{
    position: absolute;
    left: 2%;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
#highscore{
    position: absolute;
    top: 3%;
    left: 65%;
    color: white;
    font-family:"Comic Sans MS", cursive, sans-serif ;
    font-size: 40px;
}
#HighScoreRes{
    position: absolute;
    top: 3%;
    left: 75%;
    color: white;
    font-family:"Comic Sans MS", cursive, sans-serif ;
    font-size: 40px; 
}

#gamepage{
    position: fixed;
    background-image:URL("../gallery/dark_mode.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: url("../gallery/arrow.png"), auto;
    -webkit-user-select: none;
}
#playground{
    position: relative;
    left: 5%;
    width: 90%;
    height: 90%;
    overflow: hidden;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
}
.darkmode{
    background-image:URL("../gallery/dark_mode.jpg");
}
#usernameplace{
    text-align: center;
    position: absolute;
    top: 88%;
    left: 65%;
    width: 100px;
    height: 40px;
    color: white;
    font-size:  40px ;
    font-weight: bolder;
    font-family: "Comic Sans MS", cursive, sans-serif; 
}
#scoreplace{
    text-align: center;
    position: absolute;
    top: 85%;
    left: 45%;
    width: 100px;
    height: 40px;
    color: white;
    font-size:  40px ;
    font-weight: bolder;
    font-family: "Comic Sans MS", cursive, sans-serif; 
}
#startbtn{
    position: absolute;
    top: 30%;
    left: 40%;
    cursor: pointer;
}
.flipClass {
    transform: rotateY(180deg);
}
.Duck {
    position: absolute;
    left: -100px;
    
}
.Duck img{
    width: 100px;
    height: 100px;
}
.diedDuck{
    position: absolute;
    left: -100px; 
}
.diedDuck img{
    width: 80px;
    height: 80px;
}

